{% extends "app/layout.html" %}

{% block content %}



  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="mslogo-container">
            <a href="http://www.microsoft.com/" ><img alt="Microsoft" src="https://assets.onestore.ms/cdnfiles/onestorerolling-1512-09001/shell/v3/images/logo/microsoft.png"></a>
        </div>
    </div>
  </nav>

  <div class="featurette fluid-container">
    <div class="wrapper row">

      <div id="connect-apps" class="container">

        <header>
          <h1>Thank you!</h1>
            <p>We're delighted you want to connect with our startups. Your request is being directly forwarded to the startup. Expect to hear from them very shortly.</p>
            <p>Questions or comments? We're happy to help.<br />
               Please contact <a href="mailto:">tereza.nemessanyi@microsoft.com</a>.</p>        
        </header>
        


        <footer>
          <p>&copy; 2015 Microsoft</p>
        </footer>
      </div>
    </div>
  </div>

 

{% endblock %}
